/node_modules
/vendor
/lang
!/lang
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*.php
/bootstrap/cache/*.tmp
/bootstrap/cache/filament
!/bootstrap/cache/.gitignore
.phpunit.result.cache
/tmp
.vercel
nativephp
.netlify
.idea
sqlite.db
.env
.env.backup
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
.env.*
!.env.example