parameters:
    level: 0

    paths:
        - app
        - bootstrap
        - config
        - database
        - lang
        - resources
        - routes
        - tests

    excludePaths:
        - vendor/*
        - node_modules/*
        - storage/*
        - bootstrap/cache/*
        - _ide_helper*.php
        - .phpstorm.meta.php


